<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{{ siteName }} | {% if page_title is defined %}{{page_title}}{%else%}Home{% endif %}</title>
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
        <link rel="alternate" type="application/rss+xml" href="http://reedmaniac.com/blog/index.rss" title="Shapeless Chaos RSS" />

        <!-- hide css from IE6 but load for everyone else -->
        <!--[if gte IE 7]><!-->
        <link rel="stylesheet/less" media="screen, projection" href="/blog/assets/css/screen.less" />
        <!-- <![endif]-->
        
        <!-- enable HTML5 elements in IE7+8 -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <script type="text/javascript" src="/blog/assets/js/less.js"></script>
        
        <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        
        
<!--
<rdf:RDF xmlns="http://web.resource.org/cc/"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="http://reedmaniac.com#about">
<dc:title>Shapeless Chaos</dc:title>
<dc:description>The human word is neither immortal nor invulnerable; but it is the power that orders our chaos, and the light by which we live.</dc:description>
<license rdf:resource="http://creativecommons.org/licenses/by-nc-sa/1.0/" />
</Work>
<License rdf:about="http://creativecommons.org/licenses/by-nc-sa/1.0/">
<requires rdf:resource="http://web.resource.org/cc/Attribution" />
<requires rdf:resource="http://web.resource.org/cc/Notice" />
<requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
<permits rdf:resource="http://web.resource.org/cc/Reproduction" />
<permits rdf:resource="http://web.resource.org/cc/Distribution" />
<permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
<prohibits rdf:resource="http://web.resource.org/cc/CommercialUse" />
</License>
</rdf:RDF>
-->

<meta property="og:title" content="{% if page_title is defined %}{{page_title}}{%else%}Shapeless Chaos{% endif %}" />
<meta property="og:type" content="{% if page_title is defined %}article{%else%}website{% endif %}" />
<meta property="og:url" content="{% if page_url is defined %}{{ page_url }}{%else%}http://reedmaniac.com/blog{% endif %}" />
<meta property="og:site_name" content="Shapeless Chaos" />
<meta property="og:description" content="blog about outdoors, technology, medicine, and philosophy" />

<meta property="twitter:creator" content="reedmaniac" />
<meta name="description" content="Paul Burdick is a web developer, outdoor guide, and student who writes about the outdoors, technology, medicine, and philosophy." />
    
    </head>


<body>

    <header role="banner" class="group">
        <a href="/" id="logo">
            Shapeless<em>Chaos</em>
        </a>
    
        <nav role="navigation">
            <ul>
                <li><a href="/blog/pages/about/">About</a></li>
                <!-- <li><a href="http://www.flickr.com/photos/reedmaniac">Flickr</a></li> -->
                <li><a href="https://twitter.com/reedmaniac">Twitter</a></li>
                <li><a href="https://www.flickr.com/photos/133323973@N07">Flickr</a></li>
                <li class="image"><a href="http://reedmaniac.com/blog/index.rss"><img src="/blog/assets/images/rss_20.png" width="20" height="20" /></a></li>
            </ul>
        </nav>	
    </header>
    
    <div class="wrap group">
        <div class="main" role="main">

{% block main %}
{% endblock %}


        </div>
    </div>
    
    <footer role="banner">
        <div>
            <p>Build with <a href="http://buildwithcraft.com">Craft CMS</a>.
            &nbsp; Hosted by <a href="http://enginehosting.com">EngineHosting</a>.
            <br />
            Designed by a fool with a text editor.</p>
        </div>
    </footer>

<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
<script async src="https://static.medium.com/embed.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69209507-1', 'auto');
  ga('send', 'pageview');

</script>


</body>
</html>
