{% extends "_layout" %}

{% block main %}
    {% paginate craft.entries.section('blog').order('postDate desc').limit(10) as entries %}
    
        {% for entry in entries %}
            {% include "entries/_entry_abstract" with { entry: entry } only %}
        {% endfor %}
        
        
        
        {% if paginate.prevUrl or paginate.nextUrl %}
        <div class="row blog-pagination">
        {% endif %}

        {% if paginate.nextUrl %}
            <div class="col-xs-6 text-left"><a href="{{ paginate.nextUrl }}" class="older"><span class="glyphicon glyphicon-backward"></span> Older Entries</a></div>
        {% else %}
             <div class="col-xs-6 text-left"></div>
        {% endif %}
        
        {% if paginate.prevUrl %}
            {% if paginate.currentPage == 2 %}
                <div class="col-xs-6 text-right"><a href="{{ url('') }}" class="newer">Newer Entries<span class="glyphicon glyphicon-forward"></span></a></div>
            {% else %}
                <div class="col-xs-6 text-right"><a href="{{ paginate.prevUrl }}" class="newer">Newer Entries <span class="glyphicon glyphicon-forward"></span></a></div>
            {% endif %}
        {% else %}
             <div class="col-xs-6 text-right"></div>
        {% endif %}
        
        {% if paginate.prevUrl or paginate.nextUrl %}
        </div>
        {% endif %}
        
        
    {% endpaginate %}
{% endblock %}
